*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #4c4c4c;
}

#container{
	perspective: 1000px;
}

#nav{
	display:inline;
	font-size: 20px;
	text-decoration: none;
	font-family: avenir;
}
a{
	text-decoration: none;
	color:white;
}
a:visited{
	text-decoration: none;
	color:white;
}

div button{ 
	float: left;
	justify-content: center;
	align-items: center;
	margin-left: 40%;
	margin-bottom: 30px;
	border: none;
	background-color: #fffee2;
	padding: 10px  20px 10px 20px;
	font-family: avenir;
	font-size: 16px;
  }

  button:active{
  	background-color:red;
  }


#ball{
	height: 200px;
	width: 200px;
	border-radius: 50%; 
	background-image: url('images/ball.jpg');
	background-size: 125%;
	background-position: center;
	float: right;
	margin-right: 50%;
	margin-bottom: 20%;
	z-index: 2;

}

@keyframes shoot {
      0% {}
      50%{transform: scale(.5); transform:translateY(-700px);}
      100% {transform: scale(.1); transform:rotate(180deg); }
    }

 #ball {
        animation-name: shoot;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

svg{
	padding-top:15px;
	align-items: center;
	height: 100%
}

#container{
	/*
	align-items: center;
	justify-content: center;
	display: flex;
	padding-top: 40vh;
	*/
	align-items: center;
	justify-content: center;
	display: flex;
	margin: auto;
	padding-top: 5vw;


}
symbol{height:200px;}


#one img{
	width: 70%;
	margin-left: 20%;
	z-index: 1;
}

#two img{
	width:70%;
	margin-left: 15%;
	z-index: 1;

}
#three img{
	width:70%;
	margin-left: 15%;
	z-index: 1;

}
/*

.icon{
	height: 80px;
	width: 80px;
	margin: 0px;
	opacity: .7;
}


#icon1{
	fill: #abeaaf;
	// transform: translateX(100px) scale(1);

}

#icon2{
	fill: #5f84bf;
	// transform: translateX(-100px) scale(1);
}

#icon3{
	fill: #bf5f5f;
	// transform: translateX(-295px) scale(1);

}


#icon4{
	fill: #fff58c;
	// transform: translateX(-550px) scale(1);
}

*/